version: "3"
services:
  whisper:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: whisper
    ports:
      - 4900:4900
    volumes:
      - .:/app
    working_dir: /app
    command: bash run_api.sh
  ngrok:
    image: ngrok/ngrok:latest
    restart: unless-stopped
    command:
      - "start"
      - "--all"
      - "--config"
      - "/etc/ngrok.yml"
    volumes:
      - ./ngrok.yml:/etc/ngrok.yml
    ports:
      - 7098:7098
